*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html,body{
    margin: 100%;
    padding: 100%;
  
} */

.dropdown{

position:relative ;
display: inline-block;
height:30vh;
margin-left:60px;
width: 200vh;
background: rgba(85, 77, 77, 0.582);

}

.dropdown .dropbtn{
    color: white;
    background-color: transparent;
font-size: 70px;
margin-left:135px;
margin-top:50px;
padding: 12px;
border: none;
cursor: pointer;

}

.dropdown .dropdown-content{
    display: none;
    font-size: 50px;
    background-color: #f9f9f9;
    margin-left:150px;
    position: absolute;
    min-width: 160px;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown .dropdown-content a{
    color: black;
    padding:12px 25px;
    display: block;

}
 .dropdown-content a:hover{
    background-color: #f1f1f1;
 }

 .dropdown:hover .dropdown-content{
    display: block;
 }

 .dropdown:hover .dropbtn{
    background-color: #ad3535b4;
 }